h1{
    font-family: 'DynaPuff', cursive;
    margin: 30px 0px 0px 600px;
    color: crimson;
}
h3{
    font-family: 'DynaPuff', cursive;
    margin: 0px 0px 0px 490px;
    color: rgb(244, 209, 11);
    
}